//- svg(
//-   viewBox="0 0 100 100",
//-   preserveAspectRatio="xMidYMid")
//-   circle(cx=50, cy=50, r=40)
//-   g(ng-attr-transform="rotate({{$ctrl.rotate}} 50,50)")
//-     polyline.light(points="50,85 35,95 50,5")
//-     polyline.dark(points="50,85 65,95 50,5")
svg(viewBox="0 0 100 100")
  defs
    linearGradient#grad2(x1="0",y1="1",x2="1",y2="0")
      stop(offset="0%", stop-color="#888")
      stop(offset="50%", stop-color="#def")
      stop(offset="100%", stop-color="#888")

    filter#innerShadow(x0="-50%", y0="-50%" width="200%" height="200%")
      feGaussianBlur(in="SourceAlpha", stdDeviation="2", result="blur")
      feOffset(dx=3,dy=2)
      feComposite(in2="SourceAlpha", operator="arithmetic", k2=-1, k3=1, result="shadowDiff")

      feFlood(flood-color="#444", flood-opacity=.75)
      feComposite(in2="shadowDiff", operator="in")
      feComposite(in2="SourceGraphic", operator="over", result="firstFilter")

      feGaussianBlur(in="firstFilter", stdDeviation="2", result="blur2")
      feOffset(dx=-3,dy=-2)
      feComposite(in2="firstFilter", operator="arithmetic", k2=-1, k3=1, result="shadowDiff")

      feFlood(flood-color="#444", flood-opacity=.75)
      feComposite(in2="shadowDiff", operator="in")
      feComposite(in2="firstFilter", operator="over")

    filter#dropShadow(width="150%", height="150%")
      feOffset(in="SourceAlpha", result="offOut", dx="1" dy="1")
      feGaussianBlur(in="offOut", result="blurOut", stdDeviation="1")
      feBlend(in="SourceGraphic", in2="blurOut", mode="normal")

    radialGradient#glass(cx=-15, cy=-10, r=65, gradientUnits="userSpaceOnUse")
      stop(offset="0%", stop-color="white" stop-opacity=".75")
      stop(offset="25%", stop-color="silver" stop-opacity=".2")
      stop(offset="100%", stop-color="white" stop-opacity="0")

    circle#dial(r=47)
    circle#face(r=43)
    rect#lcd(x=-20, y=-8, width=40, height=16, rx=3, ry=3, fill="#def" filter="url(#innerShadow)")
    
    line#tic(y1=-42, y2=-38, stroke-width=".8", stroke="black")

  g(transform="translate(50,50)", filter="url(#dropShadow)", font-size="6", text-anchor="middle")
    use(href="#dial", fill="url(#grad2)")
    use(href="#face", fill="white" fill-opacity=".5" filter="url(#innerShadow)")
    g(transform="translate(0,-10)")
      text(y=-10 stroke="none") Wind
      use(href="#lcd")
      text(font-family="tahoma" alignment-baseline="middle" font-size="8.8", stroke="none") {{$ctrl.direction}}&deg;
    g(transform="translate(0,16)")
      text(y=-10) Speed
      use(href="#lcd")
      text(font-family="tahoma" alignment-baseline="middle" font-size="8.8", stroke="none") {{$ctrl.speed}} {{$ctrl.unit}}
    - var i = 0
      while i < 360
        g(transform="rotate(" + i + ")")
          use(href="#tic")
          text(y=-33, transform="rotate(" + -i +" 0 -33)" alignment-baseline="middle" font-size="5")= i.toFixed(0)
        - i = i + (360/16);
    g(data-ng-attr-transform="rotate({{$ctrl.direction}})")
      path(d="M -3 -42 L 3 -42 L 0 -38 z", fill="red")
      path(d="M -3 -42 L 3 -42 L 0 -38 z", fill="red" transform="translate(0,80)")
    use(href="#face" fill="url(#glass)" opacity='.4')